.category{
    margin-left: 14%;
    margin-top: 8%;
}
.Category_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 5px;
    
}
.ligne{
    width: 900px;
    margin-right: 50%;
}